# Data Science Tools and Ecosystem

## Author
Eugenio T.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science tools with a table

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-Learn
3. NumPy

|Data Science Tools|
|------|
|Jupypter Notebooks|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335